*{
    box-sizing: border-box;
    top: 0%;
    left: 0%;
    right: 0%;
}

html{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
  background-color: white;
  height: 100%;
  width: 100%;
  background-color:rgb(0, 0, 0);
  overflow-x: hidden;
}

.nav{
    position: fixed;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    background-color: rgb(58, 58, 58);
    width: 100vw;
    height: 5vh;
}

.nav  a{
    text-decoration: none;
    font-size:1vw;
    color:white;
    padding-top: 0.8%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Montserrat', sans-serif;
}

.nav a:hover{
    color:black;
    background-color: white;
}

.nav img{
     display: none;
}

.back{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height:50rem;background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    
    justify-content: center;
    align-items:center;
}

.container{
    display: flex;
    flex-direction: row;
    width:100vw;
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    justify-content: center;
    align-items:center;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 100vh;
}

.content img{
    max-height:85vh ;
}

.text{
    background-color:white;
    border-radius: 10px;
    color: #f14b5b;
    font-family: fantasy;
    
    width: fit-content;
    padding: 15%;
    text-align: left;
    border-left :5px solid #e7717d; 
    border-right :5px solid #e7717d; 
}

.big{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 300%;
    text-align: left;
}

.small{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 140%;
    text-align:left;
}

.big1{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 2.3vw;
    text-align: left;
}

.small1{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 1.4vw;
    text-align:left;
}
.active{
    background-color: rgb(75, 75, 75);
}

@media only screen and (max-width:1200px) {
    .container{
        height: 65vh;
    }

    .content{
        height: 50vh;
    }

    .content img{
        height: 60vh;
        max-width: 50vh;
    }

    .nav{
        height: 3vh;
    }

    .nav a{
        padding-top: 0.5%;
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media only screen and (max-width:800px) {
    .nav{
        width: 100%;
        justify-content: space-between;
        height: 5vh;
    }

    .nav img{display: none;
        width: 5vw;
    }

    .menu{
        display: none;
    }

    .container{
        height: 100vw;
        flex-direction: row;
        align-items:flex-start;
    }

    .content{
        padding: 0%;
        width: 70vw;
        height: 100vw;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .content img{
        height: 90%;
        align-self: flex-end;
        margin-right: 14vw;
    }

    .back{
        width: 100%;
        height: auto;
        padding: 0%;
        background-position: center;
    }

    .nav a{
        padding: 2%;
        font-size: 3vw;
    }

    .active{
        background-color:rgb(59, 57, 57) ;
    }

    .nav img{
        display: block;
        width:4rem;
    }

    .link{
        display: none;
    }

    .big1{
        font-size: 4vw;
        padding: 15%;
        text-align: left;
        position: relative;
        margin-left: -8%;
    }

    .small1{
        font-size: 2.7vw;
        text-align: left;
        position: relative;
    }

    .container{
        width: 100%;
    }
}